*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --orange:hsl(31, 77%, 52%);
    --cyan:hsl(184, 100%, 22%);
    --darkcyan:hsl(179, 100%, 13%);
    --bhbwhite:hsl(0, 0%, 95%);
    --pwhite:hsla(0, 0%, 100%, 0.75);

}
body,html{
    width:100%;
    height:100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bhbwhite);
    font-family: 15px;
}
main{
    width:65%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height:70%;
}
main .card{
    width:100%;
    height:100%;
}
.sedans{
    background-color: var(--orange);
    border-top-left-radius:8px ;
    border-bottom-left-radius: 8px;
}
.suvs{
    background-color:var(--cyan) ;
}
.luxury{
    background-color: var(--darkcyan);
    border-top-right-radius:8px ;
    border-bottom-right-radius: 8px;
}
.container{
    width:72%;
    margin:auto auto auto auto;
    margin-block-start: 50px;
    display: grid;
    grid-template-columns: 1fr;
    height:100%;
}
.img-div{
    width: 100%;
    margin-block-end:30px;
}
.card h1{
    color:var(--bhbwhite);
    font-family: 'Big Shoulders Display',sans-serif;
    margin-block-end:20px;
    text-transform: uppercase;
}
.card p{
    color:var(--pwhite);
    font-family: 'Lexend Deca',sans-serif;
    line-height:1.6em;
}
.grid-1{
    display: grid;
    grid-template-columns: 1fr;
    height:60%;
}
button{
    width:70%;
    border:none;
    border-radius: 25px;
    height:35px;
    background-color: var(--bhbwhite);
    font-weight: 700;
    margin-block-end:30px;
}
.sedans button{
    color:var(--orange);
}
.suvs button{
    color:var(--cyan);
}
.luxury button{
    color:var(--darkcyan);
}
button:hover{
    border:2px solid var(--bhbwhite);
    background-color:  hsla(0, 0%, 100%, 0.1);
    color:var(--bhbwhite);
}
@media(max-width:950px){
    main{
    width:90%;
    display: grid;
    grid-template-columns: 1fr;
    height:90%;
    margin-block-start:5%;
    margin-block-end:5%;
}
    .sedans{
        background-color: var(--orange);
        border-top-left-radius:8px ;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 8px;
    }

    .luxury{
    background-color: var(--darkcyan);
    border-top-right-radius:0px ;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    }
    .button{
        margin-block-end:30px;
    }
    .card h1{
        font-size:2.5em;
    }
    .card p{
        font-size:1.2em;
        margin-block-end:50px;
    }
    button{
        height:50px;
    }
}
